<div class="highscore-div">
  <h1 class="highscore-title">Info</h1>
  <div class="highscore-list">
    <p class="highscore-element">
      Worlde-clone made with
      React.js/Express/Node.js/MongoDB/Handlebars/TailwindCSS
    </p>
  </div>
</div>